# Python
__pycache__/
*.py[cod]
.python-version

airflow/logs/
airflow/dags/__pycache__/
airflow/dags/input/
airflow/config/airflow.cfg

.env
airflow/.env

airflow/postgres-db-volume/
airflow/dwh-db-volume/

docs
spark
.vscode/
.idea/
.DS_Store
